*,
*::before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: rgb(3, 194, 194);
    font-family: 'Roboto Condensed', sans-serif;
}


h2 {
    text-align: center;
}

#intro {
    align-content: center;
    text-align: center;
}

#highScores {
    padding: 10px;
}

ul li {
    list-style-type: none;
}

.hide {
    display: none;
}

table {
    width: 100%;
}

table, tr, td {
    border: 1px solid black;
    text-align: center;
}

table, th {
    font-size: 20px;
}