*,
*::before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: rgb(3, 194, 194);
    font-family: 'Roboto Condensed', sans-serif;
}


h2 {
    text-align: center;
}

#intro {
    align-content: center;
    text-align: center;
}


ul li {
    list-style-type: none;
}

.hide {
    display: none;
}

.btn {
    background: cyan;
    color: black;
    padding: 10px;
    margin: 10px;
    border: none;
    font-family: 'Roboto Mono', monospace;
}